<div class="d-flex flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom" >
    <h4>Nueva Hora</h4>
</div>
    
<div class="card">
    <div class="card-header">
        Reservar Hora
    </div>
    <div class="card-body">
            <form>
                <div class="form-group">
                    <label >Nombre Cliente</label>
                    <input type="text" class="form-control" name="cliente" (ngModel)="cliente">
                </div>
                <div class="form-group">
                    <label >Ingrese el lugar</label>
                    <input type="text" class="form-control" name="lugar" (ngModel)="lugar">        
                </div>
                <div class="form-group">
                    <label>Numero de persona</label>
                    <input type="text" class="form-control" name="numpersonas" (ngModel)="numpersonas" >
                  
                </div>
                <div class="form-group">
                    <label>Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" (ngModel)="descripcion" >
                </div>
                <div class="form-group">
                    <label>Fecha de la reserva</label>
                    <input type="text" class="form-control" name="fecha" (ngModel)="fecha" >
                </div>
   
                <button type="submit" class="btn btn-primary btn-block" (click)="crearHora()">Reservar Hora</button>                
            </form>
    </div>
</div>
