<div class="bg-light border-right barra sidebar-wrapper " [ngClass]="{'on':on}">
  <div class="list-group list-group-flush">

    <!---  Inicia Usuario     --->
    <div *ngIf="usuario">
      <!-------Menu cliente-->
      <a class="list-group-item list-group-item-action bg-light" (click)="clientecambia()">Clientes</a>
      <ul *ngIf="cliente">
        <li class="no"><a routerLink="/logged/cliente" (click)="ocultar(on)" class="list-group-item list-group-item-action bg-light">Clientes</a></li>
      </ul>
      <!-------Menu Hora-->
      <a class="list-group-item list-group-item-action bg-light" (click)="Horacambia()">Hora</a>
      <ul *ngIf="hora">
          <li class="no"><a class="list-group-item list-group-item-action bg-light" (click)="ocultar(on)" routerLink="/logged/agendadas">Agendadas</a></li>
          <li class="no"><a class="list-group-item list-group-item-action bg-light" (click)="ocultar(on)" routerLink="/logged/agendar">Agendar</a></li>
      </ul>
      <!-------Menu Derivaciones-->
    </div>
    <div *ngIf="ucliente">
      <!-------Menu Hora-->
      <a class="list-group-item list-group-item-action bg-light" (click)="Horacambia()">Hora</a>
      <ul *ngIf="hora">
          <li class="no"><a class="list-group-item list-group-item-action bg-light" (click)="ocultar(on)" routerLink="/logged/agendadas">Agendadas</a></li>
          <li class="no"><a class="list-group-item list-group-item-action bg-light" (click)="ocultar(on)" routerLink="/logged/agendar">Agendar</a></li>
      </ul>
    </div>
    <!-------Inicia admin-->
    <div *ngIf="admin">
      <!-------Menu cliente-->
      <a class="list-group-item list-group-item-action bg-light" (click)="clientecambia()">Clientes</a>
      <ul *ngIf="cliente">
        <li class="no"><a routerLink="/logged/cliente" (click)="ocultar(on)" class="list-group-item list-group-item-action bg-light">Clientes</a></li>
      </ul>
      <a class="list-group-item list-group-item-action bg-light" (click)="Usuariocambia()">Usuarios</a>
      <ul *ngIf="cliente">
        <li class="no"><a routerLink="/logged/usuario" (click)="ocultar(on)" class="list-group-item list-group-item-action bg-light">Usuario</a></li>
        <li class="no"><a routerLink="/logged/usuarioeditar" (click)="ocultar(on)" class="list-group-item list-group-item-action bg-light">Editar Usuario</a></li>
        <li class="no"><a routerLink="/logged/usuariocrear" (click)="ocultar(on)" class="list-group-item list-group-item-action bg-light">Crear Usuario</a></li>
      </ul>
      <!-------Menu Hora-->
      <a class="list-group-item list-group-item-action bg-light" (click)="Horacambia()">Hora</a>
      <ul *ngIf="hora">
          <li class="no"><a class="list-group-item list-group-item-action bg-light" (click)="ocultar(on)" routerLink="/logged/agendadas">Agendadas</a></li>
          <li class="no"><a class="list-group-item list-group-item-action bg-light" (click)="ocultar(on)" routerLink="/logged/agendar">Agendar</a></li>
      </ul>
    </div>
  </div>
</div>